<div class="modal-display">
    <div id = "close-modal" class="icon-times" ng-click="closeModal()"></div>


    <section class="modal-left">
        <h2 id="title">{{show.title}}</h2>
      
        <img id="show-pic" ng-src='{{show.artwork_304x171}}' />




    </section>

    <section class="modal-right">
      <div class="show-desc">
        <h2>Description</h2>
        <p>Rated: {{show.info.data.rating}} - {{show.info.data.overview}}</p>

        <h2>Currently Streaming At:</h2>
        <div class="source-area">

            <div ng-repeat="source in show.sources">
                <p>{{source.display_name}}</p>
            </div>

        </div>
      </div>
    </section>




</div>
